.mask,
.creams-buildingInfoBlock-mask-small,
.creams-buildingInfoBlock-mask-default,
.creams-buildingInfoBlock-mask-large {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 11px;
  background: rgba(68, 148, 240, 0.6);
  border-radius: 3px;
}
.icon-image,
.creams-buildingInfoBlock-small-image,
.creams-buildingInfoBlock-default-image,
.creams-buildingInfoBlock-large-image {
  display: inline-block;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease;
  border-radius: 3px;
}
.title,
.creams-buildingInfoBlock-light-title,
.creams-buildingInfoBlock-default-title,
.creams-buildingInfoBlock-dark-title {
  font-size: 14px;
  letter-spacing: 1px;
}
.creams-buildingInfoBlock-event {
  position: relative;
}
.creams-buildingInfoBlock-event .creams-buildingInfoBlock-icon {
  color: #fff;
  font-size: 22px;
}
.creams-buildingInfoBlock {
  display: flex;
  height: max-content;
  padding: 5px 10px;
  border-radius: 3px;
}
.creams-buildingInfoBlock-default {
  background-color: #fff;
}
.creams-buildingInfoBlock-light {
  background-color: #fff;
}
.creams-buildingInfoBlock-dark {
  background-color: #23284a;
  color: #fff;
}
.creams-buildingInfoBlock-small-image {
  margin-right: 10px;
}
.creams-buildingInfoBlock-default-image {
  margin-right: 10px;
}
.creams-buildingInfoBlock-large-image {
  margin-right: 16px;
}
.creams-buildingInfoBlock-image-animate {
  opacity: 1;
}
.creams-buildingInfoBlock-light-title,
.creams-buildingInfoBlock-default-title {
  color: #353b64;
}
.creams-buildingInfoBlock-dark-title {
  color: #dde3f2;
}
.creams-buildingInfoBlock-mask-small {
  width: 40px;
  height: 40px;
}
.creams-buildingInfoBlock-mask-default {
  width: 54px;
  height: 36px;
}
.creams-buildingInfoBlock-mask-large {
  width: 90px;
  height: 56px;
}
.creams-buildingInfoBlock-mask-hidden {
  display: none;
}
.creams-buildingInfoBlock-content {
  color: #848fad;
  font-size: 12px;
}
.creams-buildingInfoBlock-interactive {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.creams-buildingInfoBlock-interactive:hover {
  background-color: #eeeeee;
}
.creams-buildingInfoBlock-overwrite {
  display: inline-block;
  line-height: 1;
}
.creams-buildingInfoBlock-overwrite .creams-info-block-content {
  font-size: 14px;
  margin-bottom: 0;
}
.creams-buildingInfoBlock-overwrite .creams-info-block-title {
  margin-bottom: 5px;
}
