@font-face {
  font-family: 'iconfont';  /* project id 596166 */
  src: url('@{@icon-url}.eot'); 
  src: url('@{@icon-url}.eot?#iefix') format('embedded-opentype'),
  url('@{@icon-url}.woff') format('woff'),
  url('@{@icon-url}.ttf') format('truetype'),
  url('@{@icon-url}.svg#iconfont') format('svg');
}