.creams-info-block-title {
  margin-bottom: 13px;
  display: block;
  font-size: 12px;
  color: #848fad;
}
.creams-info-block-content {
  font-size: 22px;
  color: #333b4d;
  letter-spacing: 1px;
}
.creams-info-block__layout__inline {
  display: inline-block;
}
.creams-info-block__layout__block {
  display: block;
}
