
@creams-prefix-cls: creams;

@antd-components-url: "../../../../node_modules/antd/es";

// Theme
@dark-grey-blue: #353b64;
@bright-blue: #78a5f3;

// Colors
@white-color: #fff;

// Fonts
// @font-family-no-number  : "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
// @font-family: "Monospaced Number", @font-family-no-number;
// @code-family            : Consolas, Menlo, Courier, monospace;
@font-size-small: 12px;
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-max: 22px;
@text-color-dark: #333b4d;
@text-color-secondary-dark: #353b4b;
@text-color-gray: #848fad;
@text-color-white: @white-color;
@line-height-base: 1;

//Iconfont
// @iconfont-css-prefix: creams-ui-icon;
// @icon-url: "//at.alicdn.com/t/font_8d5l8fzk5b87iudi.css";

// Layout
@layout-block: block;
@layout-inline-block: inline-block;
@layout-flex: flex;

// Btns
@btn-text-color-white: @white-color;
@btn-text-color-dark: @text-color-secondary-dark;

@btn-height-max: 38px;
@btn-height-base: 28px;
@btn-height-small: 24px;

@btn-normal-border-color: #d9d9d9;
@btn-normal-bg-color-hover: #eeeeee;
@btn-normal-bg-color-active: #f2f2f2;

@btn-primary-color: #4494f0;
@btn-primary-color-hover: #53acf5;
@btn-primary-color-active: #4388f0;

@btn-danger-color: #f9413a;
@btn-danger-color-hover: #f85953;
@btn-danger-color-active: #e0422e;

@btn-gradient-start-color: #75a3f9;
@btn-gradient-end-color: #2f75ed;
@btn-gradient-start-color-hover: #93b7f8;
@btn-gradient-end-color-hover: #5792f7;
@btn-gradient-start-color-active: #7499db;
@btn-gradient-end-color-active: #2a66cd;

@btn-secondary-bg-color: #f6f7fb;
@btn-secondary-color: #8390ad;
@btn-secondary-bg-color-hover: #f5f6fa;
@btn-secondary-color-hover: #b6c1db;

@btn-disable-color: #dedede;

//Radio group
@radio-group-dark-bg-color: #e8eaf3;
@radio-group-dark-text-color: #8590ad;
@radio-group-light-bg-color: @white-color;
@radio-group-light-text-color: #6f9dee;

// Icon
@icon-color: #848fad;
@icon-color-hover: #3595f6;
@icon-color-disabled: #dedede;