@import "../../style/theme";
@import "../../style/iconfont";

@creams-icon-prefix-cls: ~"@{creams-prefix-cls}-icon";

.@{creams-icon-prefix-cls}{
  color: @icon-color;
  cursor: pointer;
  &:hover, &:focus, &:visited{
    color: @icon-color-hover;
  }
  &:active{
    color: @icon-color;
  }
  &-disabled-true{
    color: @icon-color-disabled;
    &:hover, &:focus, &:visited, &:active{
      color: @icon-color-disabled;
    }
  }
}
